<?xml version="1.0" encoding="UTF-8"?>
<configuration> 
  <appSettings> 
    <add key="time" value="" />
  </appSettings>
    <system.webServer>    
      <staticContent>
          <!-- json文件扩展名映射 -->
          <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
        <rewrite>
          <rules>
            <rule name="Api" stopProcessing="true">
              <match url="api/(.*)" />
              <conditions>
              </conditions>
              <action type="Rewrite" url="#{apiUrl}#/{R:0}" />
            </rule>
            <rule name="Routes" stopProcessing="true">
              <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
              <action type="Rewrite" url="/" />
        </rule>
          </rules>
        </rewrite>        
    </system.webServer>
</configuration>